<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated robot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="MrRobot.presentation.MrRobotModelWizardID"
            name="%_UI_MrRobotModelWizard_label"
            class="MrRobot.presentation.MrRobotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MrRobotModelFile.gif">
         <description>%_UI_MrRobotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated robot -->
      <editor
            id="MrRobot.presentation.MrRobotEditorID"
            name="%_UI_MrRobotEditor_label"
            icon="icons/full/obj16/MrRobotModelFile.gif"
            extensions="mrrobot"
            class="MrRobot.presentation.MrRobotEditor"
            contributorClass="MrRobot.presentation.MrRobotActionBarContributor">
      </editor>
   </extension>

</plugin>
